.TodoForm {
	display: flex;
	width: 100%;
	max-width: 28.125rem;
	align-self: center;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1rem;
}

.TodoForm label {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 0.5rem;
	width: 100%;
}

.TodoForm input {
	width: 100%;
}

.TodoForm .btn {
	display: flex;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	width: 100%;
}

@media screen and (min-width: 25.75rem) {
	.TodoForm {
		flex-flow: row nowrap;
	}

	.TodoForm .btn {
		width: 5rem;
	}
}
