.TodoForm {
	display: flex;
	width: 100%;
	max-width: 450px;
	align-self: center;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1rem;
}

.TodoForm input {
	width: 100%;
	max-width: 350px;
}

.TodoForm .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

@media screen and (min-width: 25.75rem) {
	.TodoForm {
		flex-flow: row nowrap;
	}

	.TodoForm .btn {
		width: 5rem;
	}
}
