.ListOfTodos {
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
	justify-content: center;
	width: 100%;
	max-width: 450px;
}

.ListOfTodos .Todo:nth-child(odd) {
	background: #eff0f3;
}

.ListOfTodos .Todo:nth-child(even) {
	background: #fff;
}
