.ListOfTodos {
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
	width: 100%;
	height: 100%;
	max-width: 450px;
	flex: 1;
}

.ListOfTodos .Todo:first-child {
	border-radius: var(--radius) var(--radius) 0 0;
}

.ListOfTodos .Todo:last-child {
	border-radius: 0 0 var(--radius) var(--radius);
}

.ListOfTodos .Todo:only-child {
	border-radius: var(--radius);
}

.ListOfTodos .Todo:nth-child(odd) p {
	background: #eff0f3;
}

.ListOfTodos .Todo:nth-child(even) p {
	background: #d3d6de;
}
