.ListOfTodos {
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
	width: 100%;
	height: 100%;
	max-width: 28.125rem;
	flex: 1;
}

/* Todo Radius */

.Todo:first-child .Todo-text {
	border-radius: var(--radius) 0 0 0;
}

.Todo:first-child .TodoIconContainer {
	border-radius: 0 var(--radius) 0 0;
}

.Todo:last-child .Todo-text {
	border-radius: 0 0 0 var(--radius);
}

.Todo:last-child .TodoIconContainer {
	border-radius: 0 0 var(--radius) 0;
}

/* Only child Todo radius */

.Todo:only-child .Todo-text {
	border-radius: var(--radius) 0 0 var(--radius);
}

.Todo:only-child .TodoIconContainer {
	border-radius: 0 var(--radius) var(--radius) 0;
}

/* Background Todo Pattern */

.Todo:nth-child(odd) p {
	background: #eff0f3;
}

.Todo:nth-child(even) p {
	background: #d3d6de;
}
