.Todo {
	display: flex;
	flex-flow: row nowrap;
	min-height: 3rem;
	cursor: pointer;
	list-style: none;
}

.Todo-text,
.TodoIconContainer {
	min-height: 100%;
}

/* Todo-text */

.Todo-text {
	color: var(--paragraph);
	padding: 0.25rem;
	flex: 1;
}

.completed {
	text-decoration: line-through;
}

/* Todos Icon */

.TodoIconContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.TodoIconContainer:hover {
	background-color: #ff6e6c;
}

.Todo .Icon {
	width: 3rem;
	flex: 1;
}
