.SelectTodos {
	position: sticky;
	bottom: 2rem;
	right: 2rem;
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	background: var(--main);
	border-radius: var(--radius);
	padding: 0.5rem;
}

.SelectTodos label {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
