.App {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--background);
}

.App-main {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
	padding: 2rem;
	height: calc(100vh - 3.5rem);
}

/* General Settings */

.btn,
.input {
	height: 100%;
	border: none;
	border-radius: var(--border-radius);
}

.btn {
	background: var(--btn);
	color: var(--btn-text);
	cursor: pointer;
}

form {
	color: var(--form-text);
}

.input {
	background: var(--form-input);
	color: var(--form-text);
	border: 1px solid var(--stroke);
}

.input:focus {
	outline-color: var(--stroke);
}
